@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: Work Sans;
}

.text-16 {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.text-45 {
    color: #131313;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

.text-64 {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
}

.text-20 {
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 12.5vw;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
}

header img {
    margin-top: 30px;
    width: 75vw;
}

header button,
.btn {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: 0px;
    background: #FF900E;
}

main {
    max-width: 75vw;
    margin: 0 auto;
}

.features {
    display: flex;
    align-items: center;
    padding-top: 85px;
    padding-left: 60px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-list {
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.card {
    border: 1px solid white;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

.card h4 {
    margin-top: 10px;
}
.experience{
    max-width: fit-content;
    color: white;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    background: #FF900E;
    padding: 0 45px 45px 35px;
    position: relative;
    bottom: 122px;
    left: 54px;
}
.text-24 {
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    margin-top: -50px;
}


@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav ,.features{
        flex-direction: column;
    }
    nav ul li {
        margin: 15px;
    }
    .features-list {
        flex-direction: column-reverse;
    }

    .img-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 577px) and (max-width: 976px) {
    nav {
        flex-direction: column;
    }

    .features {
        flex-direction: column;
    }
}